<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="<%= meta_description(data.page) %>" />
    <meta name="keywords" content="<%= meta_keywords(data.page) %>" />

    <title><%= data.page.title || "Matt Button" %></title>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@BRMatt">
    <meta name="twitter:creator" content="@BRMatt">
    <meta name="twitter:title" content="<%= data.page.title %>">
    <meta name="twitter:description" content="">
      
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>

  </head>
  <body class="<%= page_classes %>">
    <div id="page">
      <header>
        <%= link_to "Matt Button", "/", :class => "site-title", :rel => "home" %>
        <nav>
          <%= link_to "posts", "/" %>
          <%= link_to "code", "https://github.com/BRMatt" %>
          <%= link_to "tweets", "https://twitter.com/BRMatt" %>
        </nav>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
