<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= data.page.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
    <link href="/webfonts/ss-social.css" rel="stylesheet" />

  </head>
  <body class="<%= page_classes %>">
    <div id="masthead">
      <div class="container">
        <div class="row">
          <div class="subnav span8 offset2">
            <ul class="nav nav-tabs">
              <li><h1><% link_to "/" do %>Matt Button <span>Coffee, Code, Cooking</span><% end %></h1></li>
              <li id="contact-details" class="pull-right">
                <ul>
                  <li ><a href="http://twitter.com/BRMatt" title="@BRMatt" class="ss-icon ss-social-circle">twitter</a></li>
                  <li ><a href="https://github.com/BRMatt" title="BRMatt" class="ss-icon ss-social-circle">octocat</a></li>
                  <li ><a href="mailto:chat@that-matt.com" title="chat@that-matt.com" class="email ss-icon ss-social-circle">email</a></li>
                </ul>
              </li>
              <li class="pull-right"> <a href="#">About</a> </li>
              <li class="active pull-right"> <a href="#">Posts</a> </li>

            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
  <link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
</html>
